$color--green: #008069;
$color--green-light: #25d366;
$color--text: #111b21;
$color--text-gray: #8696a0;
$color--text-critical: #f15c6d;
$color--beige: #fcf5eb;
$color--red: #b80531;
$color--red-light: #fde8eb;
$color--white: #fff;
$color--outgoing-background: #005c4d;
$color--incoming-background: #202c33;
$color--background-gray: #2a3942;

$--app-background: #0c1317;

$color--panel-header-background: #202c33;